<h1>Urls#index</h1>
<p>Find me in app/views/urls/index.html.erb</p>

<%= render 'form' %>
<hr>

<% @urls.each do |url| %>
  <%= link_to "/urls/#{url.short_url}", "/urls/#{url.short_url}" %>
  <hr>
<% end -%>
